@import "colors";

.about-block {
  .container {
    padding: 0;

    @media all and (max-width: 1500px) {
      padding: 0 3rem;
    }
    @media all and (max-width: 576px) {
      padding: 0 2rem;
    }
    @media all and (max-width: 375px) {
      padding: 0 1rem;
    }
  }
}

.about-block__about-grid {
  display: grid;
  grid-template: auto / repeat(2, 1fr);
  grid-column-gap: 7.5rem;
  grid-row-gap: 2.9rem;

  @media all and (max-width: 1200px) {
    grid-column-gap: 4rem;
  }
  @media all and (max-width: 992px) {
    grid-template: auto / 1fr;
  }
}

.about-grid__speaker-photo {
  max-width: 66rem;
  line-height: 0;

  @media all and (max-width: 992px) {
     margin: 0 auto;
  }
  .speaker-photo__img {
    width: 100%;
    border-radius: .6rem;

    @media all and (max-width: 992px) {
      width: 100%;
      height: 36rem;
      object-fit: cover;
    }

    @media all and (max-width: 576px) {
      height: 30rem;
    }
    @media all and (max-width: 375px) {
      height: 19.3rem;
    }

  }
}
.about-grid__about-info {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media all and (max-width: 992px) {
    max-width: 66rem;
    margin: 3rem auto;
  }
  @media all and (max-width: 576px) {
    margin: 0 auto;
  }
  @media all and (max-width: 576px) {
    padding: 0 1rem;
  }


  .about-info__desc{
    max-width: 55rem;

    @media all and (max-width: 992px) {
      max-width: 100%;
      text-align: left;
    }
  }

  .about-info__text {
    font-weight: 500;
    max-width: 58.7rem;
    margin-top: 3.1rem;

    @media all and (max-width: 992px) {
      max-width: 100%;
      margin-top: 2.1rem;
    }
  }

  .about-info__about-audio {
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 24rem;


    .about-audio__text {
      max-width: 16rem;
      font-weight: 700;
    }
    .about-audio__button {
      width: 6.2rem;
      height: 6.2rem;
    }
  }
}

