@import "colors";


.advantages-block__adv-grid {
  padding: 7rem 0 7.2rem;
  display: grid;
  grid-template: auto / repeat(3, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 1.8rem;

  @media all and (max-width: 1200px) {
    grid-column-gap: 2rem;
  }

  @media all and (max-width: 767px) {
    max-width: 46rem;
    padding: 4rem 0 2.9rem;
    margin: 0 auto;
    grid-template: auto / 1fr;
  }

  .adv-grid__item {
    height: 14rem;
    display: flex;
    align-items: center;
    padding: 0 6rem;
    background: white;
    box-shadow: 0 3rem 7rem rgba(15, 31, 44, 0.08);
    border-radius: .6rem;

    @media all and (max-width: 1366px) {
      padding: 0 3rem;
    }

    @media all and (max-width: 1200px) {
      height: auto;
      padding: 2rem 3rem;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    @media all and (max-width: 767px) {
      height: 10.8rem;
      flex-direction: row;
      justify-content: flex-start;
      text-align: left;
      padding-left: 20%;
    }
    @media all and (max-width: 576px) {
      padding-left: 3.1rem;
      padding-right: 2rem;
    }


    .item__icon {
      max-width: 5.5rem;
      margin-right: 3rem;
      width: auto;

      @media all and (max-width: 1200px) {
        margin-bottom: 2rem;
        margin-right: 0;
      }
      @media all and (max-width: 767px) {
        margin-bottom: 0;
        margin-right: 2.5rem;
      }
    }
    .item__desc {
      font-size: 1.9rem;
      line-height: 2.9rem;
      letter-spacing: -0.02em;

      @media all and (max-width: 1200px) {
        font-size: 1.6rem;
        line-height: 2.3rem;
      }

      .text-select {
        font-weight: 700;
      }
    }
  }
}
