@import "normalize";
@import "fonts";
@import "colors";

@import "css/jquery.fancybox";
@import "css/slick";
@import "css/slick-theme";
@import "css/upload";


body {
  margin: 0;
  padding: 0;
}

body.no-scroll {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: sticky;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 .3rem rgba(0, 0, 0, .2);
	background-color: #cacdd0;
}

body::-webkit-scrollbar
{
	width: 1rem;
	background-color: #cacdd0;
}

body::-webkit-scrollbar-thumb
{
	background-color: #83898e;
	border: 1px solid #737d85;
  border-radius: .3rem;
}

button:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
  color: $t-red;
  &:hover {
    color: $t-red-hover;
  }
}

ul {
  list-style: none;
}

.slick-slide {
  outline: none;
}


.container {
  width: 144rem;
  margin: 0 auto;
  padding: 0 7.5rem;

 @media all and (max-width: 1440px) {
    width: 100%;
  }

  @media all and (max-width: 1366px) {
    width: 100%;
    padding: 0 3rem;
  }

  @media all and (max-width: 768px) {
    padding: 0 3rem;
  }
  @media all and (max-width: 576px) {
    padding: 0 2rem;
  }
  @media all and (max-width: 375px) {
    padding: 0 1rem;
  }
}

.responsive-img {
  width: 100%;
}

.text-break {
  display: block;
}
.no-style-link {
  color: inherit;
  &:hover {
    color: inherit;
  }
}


.button {
  background: $t-red;
  font-weight: 800;
  font-size: 1.3rem;
  line-height: 1.6rem;
  height: 6rem;
  border: none;
  border-radius: .4rem;
  white-space: nowrap;
  cursor: pointer;
  color: white;
  transition: .2s;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  &:hover {
    background: $t-red-hover;
  }

  &:focus {
    outline: none;
    background: $t-red-active;
  }

  &:disabled {
    color: rgba(255, 255, 255, .5);
  }

  &.button--play {
    position: relative;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    font-size: 0;

    &::before {
      content: '';
      position: absolute;
      top: calc(50% - .8rem);
      left: calc(50% - .5rem);
      display: block;
      width: 0;
      height: 0;
      border: .85rem solid transparent;
      border-left: 1.2rem solid white;
    }
  }

  &.button--stop {
    position: relative;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    font-size: 0;
    &::before {
      content: '';
      position: absolute;
      top: calc(50% - .5rem);
      left: calc(50% - .5rem);
      display: block;
      width: 1rem;
      height: 1rem;
      background: white;

    }
  }
}









