$t-red: #EE1A1A;
$t-red-hover: #FC3434;
$t-red-active: #DE0F0F;

$header-bg: #FFFFFF;
$header-text-color: rgba(17, 17, 17, 0.5);
$main-screen-bg: #E5E5E5;
$light-gray-bg: #F8F9FA;

$light-gray: #F1F3F4;

$text-black: #111111;




