@import "colors";

.contacts-block {
  margin-top: 11.8rem;

  @media all and (max-width: 576px) {
    margin-top: 7rem;
    padding: 0 1rem;
  }
}
.contacts-block-container {
  max-width: 129rem;

}

.contacts-block__desc {
  max-width: 80rem;
}
.contacts-block__ymap-block {
  position: relative;
  margin-top: 6rem;

  @media all and (max-width:576rem) {
    margin-top: 3.6rem;
  }
}

.ymap-block__contacts {
  width: 42.5rem;
  height: 36.5rem;
  padding: 4.5rem 4rem 4.5rem 5rem;
  position: absolute;
  top: calc(50% - 18.25rem);
  right: 20%;
  background: white;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.09);
  border-radius: .6rem;

  @media all and (max-width: 992px) {
    right: 10%;
  }
  @media all and (max-width: 768px) {
    width: 100%;
    height: auto;
    position: relative;
    top: unset;
    right: unset;
  }
  @media all and (max-width: 576px) {
    padding: 2.8rem 2rem 2.9rem;
  }

  .contacts__phone-wrap, .contacts__email-wrap, .contacts__whatsapp-wrap, .contacts__telegram-wrap, .contacts__viber-wrap {
    display: flex;
    margin-bottom: 1.4rem;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.8rem;
    letter-spacing: -0.02em;

    @media all and (max-width: 576px) {
      font-size: 1.5rem;
      line-height: 2.4rem;
      margin-bottom: 1.2rem;
    }

    .phone-wrap__title, .email-wrap__title, .whatsapp-wrap__title, .telegram-wrap__title, .viber-wrap__title {
      width: 12.6rem;
      font-weight: bold;
    }
  }
  .contacts__email-wrap {
    margin-bottom: 2.7rem;
  }

  .whatsapp-wrap__title {
    color: #52C267;
  }

  .telegram-wrap__title {
    color: #519DCE;
  }

  .viber-wrap__title {
    color: #7960E8;
  }

  .contacts__working-time {
    display: inline-block;
    
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.9rem;
    letter-spacing: -0.02em;
    color: #333333;

    @media all and (max-width: 576px) {
      font-size: 1.5rem;
      line-height: 2.4rem;
      margin-top: 1.7rem;
    }
  }

}
#map {
  height: 51rem;

  @media all and (max-width: 768px) {
    height: 32rem;
  }
  @media all and (max-width: 576px) {
    height: 23rem;
    margin-left: -1rem;
    margin-right: -1rem;
  }
  @media all and (max-width: 375px) {
    height: 18.1rem;
  }
}
