.fs-upload-input {
    max-width: 23rem;
  }

.fs-upload-target {
  position: relative;
  padding: 1.3rem 1rem 1rem 5.7rem;
  font-weight: 700;
  width: 24rem;
  font-size: 1.3rem;
  line-height: 3.3rem;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  background: transparent;
  border: 2px dashed #5C7C96;
  border-radius: .6rem;
  cursor: pointer;
  transition: .2s;

  @media all and (max-width:992px) {
    display: none;
  }

  &::before {
    content: '';
    display: block;
    width: 1.8rem;
    height: 2.4rem;
    position: absolute;
    top: calc(50% - .9rem);
    left: 2.3rem;
    background: url(../img/file-icon.svg) center center no-repeat;
    background-size: cover;
  }

  &:hover {
    border: 2px dashed white;
  }
}

.fs-upload-dropping {
  background-color: rgba(255, 255, 255, 0.3);
}
.upload-files-list {
  font-weight: 400;
  font-size: 1.3rem;
  width: 24rem;
  margin-top: 1.4rem;
}

.upload-files-item {
  background: rgba(255,255,255,.05);
  padding: 0.5rem 2rem;
  border-radius: .6rem;

  &:not(:last-child) {
    margin-bottom: 0.3rem;
  }
}

.modal .upload-files-item {
  background: rgba(16, 24, 62, 0.1);
}
