
.error-page {

  .main-screen__wrapper {
    flex-direction: column;
    justify-content: center;
    color: white;
    min-height: 100vh;

    .main-screen__error-code {
      font-weight: bold;
      font-size: 25rem;
      line-height: 30rem;

      @media all and (max-width: 768px) {
        font-size: 13.2rem;
        line-height: 16.1rem;
      }
    }

    .main-screen__error-desc {
      font-weight: 600;
      font-size: 3.2rem;
      line-height: 3.9rem;
      text-align: center;
      letter-spacing: -0.03em;

      @media all and (max-width: 768px) {
        font-size: 2.2rem;
        line-height: 2.7rem;
      }
    }

    .go-home-button {
      padding: 2.2rem;
      margin-top: 5rem;
      min-width: 25rem;
      text-align: center;
      &:hover {
        color: white;
      }
    }

  }
}
.header.error-header {
  background: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
