@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    src: url('#{$file-path}.woff2');
    font-weight: $weight;
    font-style: $style;
  }
}

//Montserrat
@include font-face("Montserrat", "../../fonts/montserrat-300", 300);
@include font-face("Montserrat", "../../fonts/montserrat-400", 400);
@include font-face("Montserrat", "../../fonts/montserrat-500", 500);
@include font-face("Montserrat", "../../fonts/montserrat-600", 600);
@include font-face("Montserrat", "../../fonts/montserrat-700", 700);
@include font-face("Montserrat", "../../fonts/montserrat-800", 800);

