@import "colors";

.footer-container {
  max-width: 129rem;
}

.footer__top-line {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media all and (max-width:767px) {
    flex-direction: column;
    align-items: center;
  }

  .top-line__logo {
    @media all and (max-width:767px) {
      text-align: center;
    }

    .logo__img {
      max-width: 24.2rem;
    }
    .logo__desc {
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 2.2rem;
      letter-spacing: -0.02em;

      @media all and (max-width:767px) {
        display: block;
      }
    }
  }

  .top-line__callback-button {
    width: 18.3rem;

    @media all and (max-width:767px) {
     margin-top: 3.9rem;
    }
  }
}

.footer__add-info {
  margin-top: 5.3rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.1rem;
  letter-spacing: -0.03em;
  color: #979DA5;

  @media all and (max-width:992px) {
    max-width: 43rem;
    margin: 5.3rem auto;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media all and (max-width:375px) {
    margin: 4rem auto;
    flex-direction: column;
    align-items: center;
  }

  .add-info__company {
    @media all and (max-width:992px) {
      margin-top: 2rem;
      order: 3;
    }
    @media all and (max-width:375px) {
      margin-top: 2.6rem;
    }
  }
  .add-info__privacy-link {
    @media all and (max-width:992px) {
      margin-top: 2rem;
      order: 4;
    }
    @media all and (max-width:375px) {
      margin-top: .9rem;
    }
  }

  .add-info__phone {
    font-weight: bold;
    color: $text-black;

    @media all and (max-width:992px) {
      order: 1;
    }

  }
  .add-info__email-link {
    font-weight: bold;

    @media all and (max-width:992px) {
      order: 2;
    }
    @media all and (max-width:375px) {
      margin-top: 1rem;
    }
  }

  .add-info__developer {
    margin-left: 23.6rem;
    color: $text-black;
    font-weight: 500;

    @media all and (max-width: 1200px) {
      margin-left: 0;
    }
    @media all and (max-width:992px) {
      margin-top: 3.2rem;
      order: 5;
    }
  }
}
