@import "colors";

.header {
  background: $header-bg;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sticky-header {
  
  position: fixed;
  z-index: 99;
  width: 100%;
  background: $header-bg;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 7rem;

  @media all and (max-width: 576px) {
    height: 9.1rem;
  }

  .top-line__right-block {
    @media all and (max-width: 576px) {
      margin-top: -0.8rem;
   
    }
  }

  .left-block__logo {
    width: 15.8rem;

    @media all and (max-width: 1020px) {
      display: none;
    }

    @media all and (max-width: 810px) {
      display: block;
    }

    
}


.navigation__menu .menu__item {
  margin-right: 1.6rem;

  @media all and (max-width: 1275px) {
    margin-right: 0.6rem;
  }

}

.navigation__menu .menu__item .item__link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: -0.01em;
}

.header__top-line {
  height: 8.6rem;

}

.right-block__calcproject, .right-block__callback {
  
box-sizing: border-box;
border-radius: 6px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 1.3rem;
line-height: 1.6rem;
text-align: center;
text-transform: uppercase;
height: 4rem;
}

.header__container-nav {
  margin-top: 1rem;
  .container {
    width: auto;
    padding: 0;
    margin: 0;
  }

}

}



.header__top-line {
  height: 9.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media all and (max-width: 576px) {
    height: 9.1rem;
    flex-direction: column;
    justify-content: center;
  }
}

.top-line__left-block, .top-line__right-block {
  display: flex;
  align-items: center;
}
.top-line__left-block {
  @media all and (max-width: 576px) {
    order: 2;
  }
}
.top-line__right-block {
  position: relative;
  @media all and (max-width: 576px) {
    width: 100vw;
    padding-bottom: 1.5rem;
    margin-top: -1.8rem;
    border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  }

}

.left-block__logo {
  width: 26rem;
  margin-right: 4rem;

  @media all and (max-width: 576px) {
    max-width: 16.3rem;
    margin-top: 0;
    margin-right: 0;
  }

  .logo__img {
    max-width: 100%;
    @media all and (max-width: 576px) {
      margin-top: 1rem;
    }
  }
}

.left-block__title {
  max-width: 22.2rem;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: $header-text-color;

  @media all and (max-width: 992px ){
    display: none;
  }
}

.right-block__contacts {
  margin-right: 3.8rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @media all and (max-width: 576px) {
    width: 100%;
    text-align: center;
    margin-right: 0;
    margin-top: 2rem;
  }

  .contacts__phone {
    display: block;
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 2.1rem;
    letter-spacing: -0.03em;
    color: #111111;
    @media all and (max-width: 576px) {
      font-size: 1.5rem;
      line-height: 1.8rem;
      letter-spacing: -0.03em;
    }
  }

  .contacts__working-time {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.4rem;
    letter-spacing: -0.02em;
    color: $header-text-color;
    @media all and (max-width: 576px) {
      display: none;
    }
  }
}

.right-block__callback, .right-block__calcproject {
  height: 5rem;
  padding: 0 2rem;
  font-size: 1.3rem;
  line-height: 1.6rem;
  white-space: nowrap;
  text-transform: uppercase;
  border-radius: .6rem;
  cursor: pointer;
  font-weight: 700;
  transition: .2s;

}

.right-block__callback {
  margin-right: 2.8rem;
  background: transparent;
  color: #111111;
  border: 2px solid rgba(17, 17, 17, 0.20);

  @media all and (max-width: 1200px) {
    display: none;
  }

  &:hover {
    border: 2px solid #435b71;
  }
}
.right-block__calcproject {
  border: none;
  background: #EE1A1A;
  color: #ffffff;

   @media all and (max-width: 810px ){
    display: none;
  }

  &:hover {
    background: #FC3434;
  }

  &:active {
    background: #DE0F0F;
  }
}

.right-block__menu-caller {
  display: none;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  z-index: 10;

  @media all and (max-width: 810px) {
    position: absolute;
    right: 0.1rem;
  }

  @media all and (max-width: 576px) {
    margin-top: 1rem;
    margin-right: 1.5rem;

  }
  
  .menu-caller__burder {
    display: block;
    position: relative;
    height: 0.2rem;
    width: 1.8rem;
    background: #111111;
    &::before, &::after {
      content: '';
      position: absolute;
      display: block;
      width: 1.8rem;
      height: .2rem;
      background: #111111;
      transition: .1s;
    }
    &::before {
      top: -.7rem;
    }
    &::after {
      bottom: -.7rem;
    }
  }

  @media all and (max-width: 810px) {
    display: flex;
  }
}


.header__navigation {
  border-top: 1px solid rgba(44, 66, 86, 0.1);

  @media all and (max-width: 810px) {
    border-top: 0;
  }
}

.navigation__bg-navigation {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #ffffff;
  opacity: 0;
  z-index: 99;
  transition: .15s;

  &.bg-navigation--active {
    opacity: .55;
    display: block;
  }
}
.navigation__menu {
  position: relative;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @media all and (max-width:810px) {
    display: block;
    width: 37.5rem;
    min-height: 100vh;
    padding: 5.3rem 4.1rem;
    position: fixed;
    background: #ffffff;
    top: 0;
    left: 0;
    overflow-y: scroll;
    z-index: 100;
    transform: translateX(-37.5rem);
    transition: .2s;
  }
  @media all and (max-width:375px) {
    width: 100%;
    transform: translateX(-100%);
  }

  &.menu--active {
    transform: translateX(0);
    transition: .2s;
  }


  .menu__close-button {
    display: none;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 0;

    @media all and (max-width: 810px) {
      display: block;
    }

    &::before, &::after {
      content: '';
      display: block;
      width: 2.2rem;
      height: .2rem;
      background: #111111;
      top: calc(50% - .1rem);
      left: calc(50% - 1.1rem);
      position: absolute;
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }

  .menu__item {
    display: inline-block;
    margin-right: 3.6rem;

    @media all and (max-width:810px) {
      display: block;
      margin-top: 2.1rem;
    }

    &:nth-of-type(2) {
      @media all and (max-width:810px) {
        margin-top: 0;
      }
    }

    .item__link {
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2.4rem;
   
      color: #111111;
      transition: .25s;

      &:hover {
        color: $t-red-hover;
      }
    }
    .phone-link {
      display: none;
      margin-top: 9.1rem;
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 2rem;
      letter-spacing: -0.03em;

      @media all and (max-width:810px) {
        display: block;
      }
    }
    .email-link {
      display: none;
      margin-top: 2rem;
      font-size: 1.4rem;
      line-height: 2.2;
      letter-spacing: -0.02em;
      color: $t-red;
      text-transform: none;

      @media all and (max-width:810px) {
        display: block;
      }
      &:hover {
        color: $t-red-hover;
      }
      &:active {
        color: $t-red-active;
      }
    }

  }
  .working-time {
    display: none;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: -0.02em;
    color: #748DA0;
    text-transform: none;

    @media all and (max-width:810px) {
      display: block;
    }
  }
}
