@import "fonts";
@import "colors";

.main-screen {
  position: relative;
  background: $main-screen-bg;
  overflow-x: hidden;
  @media all and (max-width:768px) {
    padding-top: 2rem;
  }

  @media all and (max-width:576px) {
    padding-top: 1.5rem;
  }
}


.main-screen__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 94.3rem;
  z-index: 2;

  @media all and (max-width:1280px) {
    height: 86.3rem;
  }
  @media all and (max-width:1120px) {
    height: 77.3rem;
  }
  @media all and (max-width:890px) {
    height: 70.3rem;
  }
  @media all and (max-width:690px) {
    height: 61.3rem;
  }
  @media all and (max-width:576px) {
    height: 38.3rem;
  }
}

.main-screen__main-info {
  width: auto;
  max-width: 128rem;
  align-self: start;
  margin-top: 6rem;


  @media all and (max-width: 992px) {
     width: 100%;
  }
  @media all and (max-width:1280px) {
    margin-top: 6rem;
  }
  @media all and (max-width:1120px) {
    margin-top: 5rem;
  }
  @media all and (max-width:890px) {
    margin-top: 0rem;
  }
  @media all and (max-width:576px) {
    display: none;
  }


  .main-info__title {
    font-weight: 500;
    font-size: 5.5rem; //default 3.6rem
    line-height: 6.7rem;
    color: #111111;
    transition: .4s;
    letter-spacing: -0.02em;
    
    @media all and (max-width:1280px) {
      font-size: 4.8rem;
      line-height: 5.5rem;
    }
    @media all and (max-width:1120px) {
      font-size: 3.6rem;
      line-height: 4.3rem;
    }
    @media all and (max-width:890px) {
      font-size: 2.8rem;
      line-height: 3.9rem;
    }
    @media all and (max-width:690px) {
      font-size: 2.3rem;
      line-height: 3.2rem;
    }
    @media all and (max-width:576px) {
      white-space: pre-line;
    }
   

    .title__select-text {
      transform: translateY(0);
      color: #ffffff;
      
      opacity: 0;
      border-radius: 4px;
      padding: 0 1.6rem 0.6rem;
  

      &.select-text--show {
        opacity: 1;
        background-color: #EE1A1A; 
      }
      &.select-text--hide {
        transform: translateY(-6.9rem);
        opacity: 0;
        transition: .3s;

        @media all and (max-width: 768px) {
          transform: translateY(-5.9rem);
        }
         @media all and (max-width: 576px) {
          transform: translateY(-3.9rem);
        }
      }
    }
  }

  .main-info__services-list {
    position: relative;
    top: -0.8rem;
    transition: 0s;
    margin-left: 26.3rem; //default - 16.6rem
    max-width: 71rem;

    
    @media all and (max-width:1280px) {
      margin-left: 23.3rem;
    }
    @media all and (max-width:1120px) {
      margin-left: 17.3rem;
    }
    @media all and (max-width:890px) {
      margin-left: 14.3rem;
    }
    @media all and (max-width:690px) {
      margin-left: 12.3rem;
    }

    @media all and (max-width:576px) {
      display: flex;
      top: -10.8rem;
    }
 
    @media all and (max-width:420px) {
      top: 0;
    }

    &.services-list__top-effect {
      top: -6.9rem;
      transition: .3s;

      @media all and (max-width:1200px) {
       top: -6.7rem;
      }
      @media all and (max-width:576px) {
    }
  }
    .services-list__item {
      margin-top: 3.2rem;
      font-weight: 500;
      font-size: 5.5rem;
      line-height: 6.7rem;
      color: rgba(17, 17, 17, 0.3);
      transition: font-size .3s;
      letter-spacing: -0.02em;
       
     
      @media all and (max-width:1280px) {
        font-size: 4.8rem;
        line-height: 5.5rem;
      }
      @media all and (max-width:1120px) {
        font-size: 3.6rem;
        line-height: 4.3rem;
      }
      @media all and (max-width:890px) {
        font-size: 2.8rem;
        line-height: 3.9rem;
      }
      @media all and (max-width:690px) {
        font-size: 2.3rem;
        line-height: 3.2rem;
      }

      &:last-child {
        &.item--hide-effect {
          opacity: 0;
        }
      }

      &.item--hide-effect {
        opacity: 0;
      }
    }
  }
}

.main-screen__work-sample-wrapper {
  position: relative;
  width: 55.8rem;
  margin-left: -16%;

  @media all and (max-width:935px) {
    margin-left: 0%;
}
}

.main-screen__work-sample-background {
  height: 17.1rem;
  width: 54rem;
  background-color: #fff;
  border-radius: 9rem 1.6rem 1.6rem 9rem;
  position: absolute;
  top: -1.4rem;
  right: 1rem;

  @media all and (max-width:576px) {
       display: none;
  }
}

.main-screen__work-sample {
  align-self: start;
  margin-top: -1.5rem;

  @media all and (max-width:1024px) {
  align-self: center;
    margin-left: 0;
  }
  @media all and (max-width:576px) {
    width: 28rem;
    margin-top: 0;
  }
  

  .work-sample__slide {
    display: flex;
    align-items: center;
  }

  .work-sample__promo-video {
    position: relative;
    line-height: 0;
    z-index: 2;
    border-radius: 50%;
    background-color: #ffffff;
    

    
    
    .promo-video__img {
      
      border-radius: 50%;

      width: 17.1rem;
      height: 17.1rem;
      object-fit: cover;
      opacity: 0.5;

      
      @media all and (max-width:576px) {
        position: absolute;
        width: 11rem;
        height: 11rem;
        top: 37px;
        left: -26px;
      }
    }

    .promo-video__button {
      position: absolute;
      top: calc(50% - 3.5rem);
      left: calc(50% - 3.5rem);
      

      
      @media all and (max-width:576px) {
        width: 5rem;
        height: 5rem;
        top: 6.8rem;
          left: .5rem;;
        &::before {
          top: calc(50% - .45rem);
          left: calc(50% - .35rem);
          border: .45rem solid transparent;
          border-left: .75rem solid #fff;
        }
      }
    }
  }

  .work-sample__info {
    position: relative;
    height: 8.9rem;
    padding: 2.2rem 3.9rem 1.8rem 12.3rem;
    margin-left: -10rem;
    border-radius: 0 0 .6rem .6rem;
    
    color: #111111;
    height: 17.1rem;

    border-radius: 1rem;

    @media all and (max-width: 576px) {
      display: none;
      height: 9rem;
      padding-left: 1.8rem;
      padding-right: 5.7rem;
      background: #ffffff;
    }

    .info__title {
      font-weight: 600;
      font-size: 2.4rem;
      line-height: 3.4rem;
      margin-top: 2rem;
      

      @media all and (max-width: 576px) {
        font-size: 1.3rem;
        line-height: 1.8rem;
      }
    }
    .info__desc {
      font-weight: 500;
      font-size: 1.7rem;
      line-height: 2.4rem;
      color: rgba(17, 17, 17, 0.4);
      margin: 0.5rem 0 2rem;

    
      @media all and (max-width:576px) {
        font-size: 1.1rem;
        line-height: 1.5rem;
      }
    }

    .info__desc--gaz {
      margin: 0.5rem 0 4.4rem;
    }

    .info__creator {
      font-weight: 500;
      font-size: 1.7rem;
      line-height: 2.4rem;
      color: #111111;
      margin-bottom: 0;

      @media all and (max-width:576px) {
        font-size: 1.1rem;
        line-height: 1.5rem;
      }
    }

    .info__autor {
      color: #EE1A1A;
    }

    .info__date {
      color: rgba(17, 17, 17, 0.3);
    }
  }
}

.main-screen__canvas {
  position: absolute;
  top: 0;
  left: -30%;
  bottom: 0;
  right: 0;
}

// mobile slider

.main-screen__mobile-info {
  
  display: none;

  @media all and (max-width:576px) {
    display: block;
    width: 100vw;
    margin-left: 4rem;
  }

}

.mobile-info__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 2.3rem;
  line-height: 3.2rem;
  letter-spacing: -0.02em;
  margin-top: 0.5rem;
}

.mobile-info__services-list {
  width: 320px;
  

  .slick-list {
    overflow: visible;
  }

  .slick-active {
    p {
    background: #EE1A1A;
    color: #ffffff;
    padding: 0 1rem 0.2rem;
    border-radius: 4px;
    font-size: 2rem;
    line-height: 3.2rem;
    }
  }

  .services-list__item--mobile {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 2.3rem;
    line-height: 3.2rem;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.4);
    margin: 0 1rem;
  }
}

.mobile-info__data {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 2.3rem;
  line-height: 3.2rem;
  letter-spacing: -0.02em;
 
}

.main-screen__mobile-work-sample {
  display: none;

  @media all and (max-width:576px) {
    display: block;
  }

 

  .mobile-work-sample__slide {
    display: flex;
    align-items: center;
    height: 32rem;
    margin-top: -9rem;
  

  .mobile-work-sample__promo-video {
    position: relative;
    line-height: 0;
    z-index: 2;
    border-radius: 50%;
    background-color: #ffffff;


    .promo-video__img {
      
      border-radius: 50%;
      opacity: 0.5;
      object-fit: cover;
      position: absolute;
        width: 11rem;
        height: 11rem;
        top: 4.6rem;
        left: 9.5rem;
  


    }

    .promo-video__button {
      position: absolute;
      top: 7.5rem;
      left: 12.5rem;
      width: 5rem;
      height: 5rem;
      
        &::before {
          top: calc(50% - .45rem);
          left: calc(50% - .35rem);
          border: .45rem solid transparent;
          border-left: .75rem solid #fff;
        }
      }
    }
  }
  

  .mobile-work-sample__info {
  position: relative;
  height: 9rem;
  padding-left: 1.8rem;
  padding-right: 5.7rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 0 0 .6rem .6rem;
  background: #ffffff;
  color: #111111;
  max-width: 28rem;
  width: auto;
  margin: 0 1.2rem;

  border-radius: 1rem;

  .info__title {
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-top: 1rem;
  }
  .info__desc {
    font-size: 1.1rem;
    line-height: 1.5rem;
    line-height: 2rem;
    color: rgba(17, 17, 17, 0.4);
    margin: 0;
  }

  .info__creator {
    font-weight: 500;
    font-size: 1.1rem;
      line-height: 1.5rem;
    color: #111111;
  }

  .info__autor {
    color: #EE1A1A;
  }

  .info__date {
    color: rgba(17, 17, 17, 0.3);
  }
  }

}