@import "colors";

.modal {
  position: relative;
  display: none;
  z-index: 100;
  border-radius: .6rem;

  .fancybox-close-small, .modal__footer-close {
    display: block;
    position: absolute;
    right: 4rem;
    top: 4rem;
    width: 4rem;
    height: 4rem;
    background: #294358;
    border-radius: 50%;
    opacity: 1;
    padding: 0;
    z-index: 10;
    svg {
      display: none;
    }
    &::before, &::after {
      content: '';
      display: block;
      position: absolute;
      top: calc(50% - .1rem);
      left: calc(50% - .7rem);
      width: 1.4rem;
      height: .2rem;
      background: white;
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }

    @media all and (max-width: 768px) {
      right: 1.5rem;
      top: 1.5rem;
    }

    @media all and (max-width: 576px) {
      width: 2.6rem;
      height: 2.6rem;
    }
  }
  .modal__footer {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.5rem;
    letter-spacing: -0.02em;
    color: #5B626A;
  }
  .modal__footer-close {
    margin-bottom: 0;
    margin-right: .8rem;
    padding: 1rem;
    position: relative;
    top: unset;
    right: unset;
    background: #5B626A;
    font-size: 0;
    cursor: pointer;

    @media all and (max-width: 576px) {
      padding: .5rem;
    }
  }

  .modal-content__order-form {
    margin-top: 6rem;

     @media all and (max-width: 768px) {
       margin-top: 4rem;
     }
    @media all and (max-width: 576px) {
         margin-top: 3rem;
      }

    .order-form__input {
      margin-bottom: 3.2rem;
      background: transparent;
      width: 100%;
      padding: 1.6rem 0;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #C9CCCF;
      font-size: 2rem;
      letter-spacing: -0.02em;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #8F969C;
      }

      @media all and (max-width: 768px) {
         padding: 1.3rem 0;
      }
      @media all and (max-width: 576px) {
        padding: 1.1rem 0;
        font-size: 1.8rem;
        margin-bottom: 2.4rem;
      }

      &.input--invalid {
        border-bottom: 1px solid $t-red;
        &::placeholder {
          color: $t-red;
        }
      }
    }

    .order-form__button {
      margin-top: 4.5rem;
      width: 20.7rem;

      @media all and (max-width: 576px) {
        margin-top: 3.2rem;
      }
      @media all and (max-width: 375px) {
        width: 100%;
      }
    }

    .order-form__checkbox {
      display: none;
    }
    .order-form__checkbox:checked + .order-form__privacy-label::before {
      background: white url('../img/check.svg') center center no-repeat;
      background-size: 1.3rem;
    }

    .order-form__privacy-label {
      margin-top: 1.5rem;
      position: relative;
      display: block;
      padding-left: 3.3rem;
      font-weight: 500;
      font-size: 1.3rem;
      line-height: 2rem;
      text-align: left;
      letter-spacing: -0.03em;

      @media all and (max-width:576px) {
        font-size: 1.2rem;
      }

      &::before {
        content: '';
        display: inline-block;
        width: 2rem;
        height: 2rem;
        background: white;
        margin-right: 1.2rem;
        position: absolute;
        left: 0;
        top: 0;
        border: 1px solid #C9CCCF;
        border-radius: .3rem;

        @media all and (max-width: 352px) {
          top: .9rem;
        }
      }
    }
  }

}

.modal-order {
  margin: 6.1rem .5rem 1.1rem;
  width: 52rem;
  padding: 4.7rem 5.6rem 5.4rem;

  @media all and (max-width: 768px) {
    padding: 3rem 3rem 4rem;
    margin-top: 1.1rem;
    width: unset;
    max-width: 42rem;
  }

  @media all and (max-width:576px){
     padding: 3.2rem 2.5rem 3.8rem;
  }

  .header__title {
    font-weight: bold;
    font-size: 3.2rem;
    line-height: 3.9rem;
    letter-spacing: -0.02em;

    @media all and (max-width:576px){
      font-size: 2.2rem;
      line-height: 3rem;
      letter-spacing: -0.02em;
    }
  }

  .header__desc {
    font-weight: 500;
    margin-top: 1.6rem;

    @media all and (max-width:576px){
      font-size: 1.5rem;
      line-height: 2.4rem;
      letter-spacing: -0.02em;
    }

  }
}

.modal-privacy {
  margin: 6.1rem .5rem 1.4rem;
  max-width: 85.6rem;
  padding: 5.5rem 5.7rem 4.7rem 5.6rem;
  overflow: unset;

  @media all and (max-width: 768px) {
    padding: 3rem 3rem 4rem;
    margin-top: 1.1rem;
  }
  @media all and (max-width: 576px) {
    padding: 5rem 2.5rem 3.9rem;
  }

  .header__title {
    padding-right: 4rem;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 4.3rem;
    letter-spacing: -0.02em;

    @media all and (max-width: 576px) {
      font-size: 2rem;
      line-height: 3rem;
      padding-right: 0;
    }
  }

  .content__privacy-text {
    margin-top: 3rem;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 3rem;
    letter-spacing: -0.02em;

    @media all and (max-width: 576px) {
      margin-top: 2rem;
      font-size: 1.5rem;
      line-height: 2.4rem;
    }
  }
}

.fancybox-slide--html {
  padding: 0;
}

.fancybox-is-open .fancybox-bg {
  background: #0C202F;
  opacity: .65;
}

.modal__scroll-top {
  position: sticky;
  margin-bottom: -5rem;
  margin-left: auto;
  width: 5rem;
  bottom: 5.6rem;
  height: 5rem;

  @media all and (max-width: 768px) {
    bottom: 5rem;
  }
  @media all and (max-width: 576px) {
    bottom: 4.3rem;
  }

}
.scroll-top__button {
  position: absolute;
  top: 0;
  right: -2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border: .2rem solid white;
  border-radius: 50%;
  background: rgba(91, 98, 106, .4);
  cursor: pointer;
  z-index: 110;

  @media all and (max-width: 768px) {
    right: -2rem;
  }
  @media all and (max-width: 768px) {
    right: -1rem;
  }
}

.modal-sample-voice {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  width: 42.1rem;
  height: 11.6rem;
  background:  white;
  box-shadow: 0 0 .1rem rgba(0, 0, 0, 0.5), 0 2rem 5rem rgba(0, 0, 0, 0.15);
  overflow: hidden;

  @media all and (max-width: 768px) {
    right: 1rem;
    bottom: 0;
  }

  @media all and (max-width: 480px) {
    width: calc(100% - 2rem);
    margin: 0 auto;
  }


  &--active {
    display: block;
  }

  .modal-sample-voice__close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 2.6rem;
    height: 2.6rem;
    background: #294358;
    border-radius: 50%;
    font-size: 0;
    cursor: pointer;
    z-index: 2;

    &::before, &::after {
      content: '';
      display: block;
      position: absolute;
      top: calc(50% - .1rem);
      left: calc(50% - .7rem);
      width: 1.4rem;
      height: .2rem;
      background: white;
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }


  //player
  .audio-player {
    position: relative;
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: .6rem;

    .audio-player__player {
      display: flex;
      align-items: center;

      .player__speaker-info {
        margin-left: 2rem;

      }
      .speaker-info__name {
        font-weight: bold;
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: -0.02em;

        @media all and (max-width: 576px) {
          font-size: 1.6rem;
          line-height: 2rem;
        }
      }
      .speaker-info__audio {
        margin-top: .5rem;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.8rem;
        letter-spacing: -0.01em;
        color: #5B626A;

        @media all and (max-width: 576px) {
          font-size: 1.5rem;
          line-height: 1.8rem;
        }
      }
    }
    .player-controls {
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      bottom: 0;
      progress {
        width: 100%;
        cursor: pointer;
        display: block;
        position: absolute;
        bottom: 0;
      }
      progress[value] {
        -webkit-appearance: none;
        appearance: none;
        background-color: #CFD4D9;
        color: $t-red;
        height: .6rem;
      }
      progress[value]::-webkit-progress-bar {
        background-color: #CFD4D9;
        border-radius: 0;
        color: $t-red;
      }
      progress::-webkit-progress-value {
        background-color: $t-red;
      }

      .start-time, .end-time{
        display: block;
        width: 5rem;
        height: 2rem;
        position: absolute;
        bottom: .9rem;
        font-size: 1.2rem;
        line-height: 1.5rem;
        letter-spacing: -0.02em;
        color: #5B626A;
      }
      .start-time {
        left: 1.2rem;
        text-align: left;
      }
      .end-time {
        right: 1.2rem;
        text-align: right;
      }

      #seekObjContainer {
        display: block;
      }
    }
    #play-btn {
      position: relative;
      width: 5.1rem;
      height: 5.1rem;
      margin: 2rem 0 2rem 2rem;
      background: transparent;
      border: 1px solid $t-red;
      border-radius: 50%;
      cursor: pointer;

      @media all and (max-width: 576px) {
        width: 3.7rem;
        height: 3.7rem;
      }

      &::before {
        content: '';
        position: absolute;
        top: calc(50% - .75rem);
        left: calc(50% - .5rem);
        display: block;
        width: 0;
        height: 0;
        border: .85rem solid transparent;
        border-left: 1.2rem solid $t-red;

         @media all and (max-width: 576px) {
          top: calc(50% - .6rem);
          left: calc(50% - .4rem);
          border: .65rem solid transparent;
          border-left: 1rem solid $t-red;
          }
      }


      &.pause {
        &::before, &::after {
          content: '';
          position: absolute;
          display: block;
          height: 1.8rem;
          width: .4rem;
          top: calc(50% - .9rem);
          border: none;
          background: $t-red;

          @media all and (max-width: 576px) {
            top: calc(50% - .6rem);
            height: 1.3rem;
            width: .3rem;
          }
        }
         &::before {
           left: calc(50% - .8rem);
           @media all and (max-width: 576px) {
             left: calc(50% - .6rem);
           }
         }
         &::after {
           right: calc(50% - .8rem);
           @media all and (max-width: 576px) {
             right: calc(50% - .6rem);
            }
         }
      }
    }
  }
}

.modal-calc {
  width: 140rem;
  padding: 0;
  color: $text-black;
  background: #F1F3F4;

  @media all and (max-width: 1440px) {
    margin: 2rem;
    width: calc(100% - 4rem);
  }
  @media all and (max-width: 768px) {
    width: calc(100% - 1rem);
    margin: 1.1rem .5rem 1.4rem;
  }

  .container {
    width: 100%;
    padding: 0 3rem;

    @media all and (max-width: 576px){
      padding: 0 1rem;
    }
  }

  .order-block__picture {
    top: 7rem;

    @media all and (max-width:576px) {
      top: 3.5rem;
    }
  }

  .order-block__order-content {
    @media all and (max-width:1200px) {
      padding: 38rem 0 6rem;
    }
    @media all and (max-width:576px) {
      padding: 34rem 0 2.5rem;
    }
  }

  .order-content__title {
    color: $text-black;
  }
  .order-content__desc {
    color: #333333;
    max-width: 64.3rem;
  }
  .order-content__order-form {
    color: $text-black;

    .order-form__input {
      border-bottom: 2px solid #C3C8CE;
      color: $text-black;
      &::placeholder {
        color: #757F88;
      }
      &:focus {
        border-bottom: 2px solid #111111;
      }
    }

    .fs-upload-target {
      border: 2px dashed #A1ADB7;

      &:hover {
        border: 2px dashed #2d4b63;
      }

      &::before {
        background: url(../img/file-icon-black.svg) center center no-repeat;
      }
    }

    .order-form__checkbox:checked + .order-form__privacy-label::before {
      background: transparent url('../img/check.svg') center center no-repeat;
      background-size: 1.3rem;
    }

    .order-form__privacy-label {
      font-weight: 500;

      &::before {
        background: transparent;
        border: 1px solid #C9CCCF;

        @media all and (max-width: 352px) {
          top: .9rem;
        }
      }
    }

    .order-form__send-section {
      margin-top: 4.8rem;
    }

    .order-form__button {
      @media all and (max-width:576px) {
        width: 28rem;
      }
    }

  }
}


.modal-video {
  width: 140rem;
  padding: 0;
  .modal__content {
    display: flex;

    @media all and (max-width: 767px) {
      flex-direction: column;
    }
  }

  .fancybox-close-small {
    top: 3rem;
    right: 3rem;

    @media all and (max-width: 992px){
      top: 1.5rem;
      right: 1.5rem;
      width: 2.6rem;
      height: 2.6rem;
    }
  }

  .content__video {
    position: relative;
    display: flex;
    width: 62.36%;
    background: #000000;
    align-items: center;
    transition: .25s;
    z-index: 2;

    @media all and (max-width: 767px) {
      padding-top: 6rem;
      width: 100%;
      height: 32rem;
    }

    @media all and (max-width: 576px) {
      height: 23.6rem;
    }

    .video__button-wide {
      position: absolute;
      top: 3rem;
      right: 3rem;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      font-size: 0;
      border: none;
      background: #294358 url('../img/left-right-arrow.svg') center center no-repeat;
      background-size: auto;
      z-index: 2;
      cursor: pointer;

      @media all and (max-width: 992px){
        top: 1.5rem;
        right: 1.5rem;
        width: 2.6rem;
        height: 2.6rem;
      }
      @media all and (max-width: 767px){
        display: none;
      }

      &.button-wide--active {
        background: #294358 url('../img/left-arrow.svg') center center no-repeat;
      }

    }
    .video__video-info {
      position: absolute;
      left: 0;
      bottom:0;
      display: flex;
      align-items: center;
      padding-right: 3.5rem;
      height: 7.1rem;
      font-weight: 300;
      font-size: 1.8rem;
      line-height: 2.2rem;
      letter-spacing: -0.02em;
      color: white;
      background: radial-gradient(400.17px at 78.16% 50%, #192E3E 0%, #0E1D29 100%);
      z-index: 2;
      transition: .25s;

      @media all and (max-width:767px) {
        width: 100%;
        height: auto;
        flex-direction: column;
        padding-right: 0;
        bottom: -12.6rem;
      }

      &.video-info--small {
        height: 4.4rem;
        @media all and (max-width: 767px){
          height: auto;
        }
      }

      .video-info__brand {
        width: 12.2rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        padding: 1rem;

        @media all and (max-width:767px) {
          width: 100%;
          height: 7.1rem;

        }

        .brand__img {
          max-width: 10rem;
        }
      }
      .video-info__speaker {
        margin-left: 3.7rem;

        @media all and (max-width: 767px) {
          padding: 1.5rem;
          font-size: 16px;
          line-height: 2.5rem;
          font-weight: 400;
          margin-left: 0;
        }
      }

      .text-select {
        font-weight: 500;
        @media all and (max-width: 767px) {
          font-weight: 400;
        }
      }
    }

    &.video--wide {
      position: absolute;
      top: 0;
      left:0;
      height: 100%;
      width: 84%;
      box-shadow: 3rem .4rem 7rem rgba(16, 32, 45, 0.3);
      transition: .25s;

      @media all and (max-width: 767px) {
        position: relative;
        width: 100%;
        height: 32rem;
        box-shadow: none;
      }

      @media all and (max-width: 576px) {
        height: 23.6rem;
      }
    }
  }

  .content__feedback {
    top: 0;
    width:37.64%;
    min-width: 32rem;
    padding: 8.8rem 5rem 5rem;
    text-align: center;
    margin-left: auto;

    @media all and (max-width: 992px) {
      padding: 4rem 1.5rem 2.2rem;
    }
    @media all and (max-width: 767px) {
      width: 100%;
      margin-top: 12.6rem;
    }

    .fs-upload-target {
      width: 100%;

      &:hover {
        border: 2px dashed #2d4b63;
      }

      &::before {
        width: 2rem;
        height: 2.5rem;
        top: calc(50% - 1rem);
        left: calc(50% - 8.5rem);
        background: url(../img/file-icon-black.svg) center center/cover no-repeat;
      }
    }
  }

  .feedback__title {
    font-weight: bold;
    font-size: 2.6rem;
    line-height: 3.5rem;
    letter-spacing: -0.02em;

    @media all and (max-width: 992px) {
      font-size: 2.2rem;
      line-height: 3rem;
    }
  }
  .feedback__desc {
    margin-top: 3rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.5rem;
    letter-spacing: -0.02em;
    color: #333333;
    @media all and (max-width: 992px) {
      font-size: 1.5rem;
      line-height: 2.4rem;
    }

  }
  .modal-content__order-form {
    margin-top: 4rem;
    text-align: center;

    @media all and (max-width: 992px){
      margin-top: 2.3rem;
    }
    @media all and (max-width: 767px){
      max-width: 42rem;
      margin: 2.3rem auto 0;
    }

    .order-form__input {
      font-weight: 500;
      text-align: center;

      @media all and (max-width: 992px){
        padding: 1.3rem 0;
        font-size: 1.8rem;
        line-height: 4.6rem;
        margin-bottom: 2rem;
      }
      @media all and (max-width: 576px){
        padding: 1.1rem 0;
        font-size: 1.8rem;
        line-height: 4.6rem
      }

    }

    .order-form__button {
      margin-top: 2rem;
      width: 100%;
    }

    .order-form__privacy-label {
      margin-top: 2.5rem;
    }
  }
}

.modal-assessment {
  margin: 6.1rem .5rem 1.4rem;


   .fancybox-close-small {
    right: 2rem;
    top: 2rem;

    @media all and (max-width: 425px) {
      right: 0.7rem;
      top: 0.7rem;
    }
  }

  .modal-assessment__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 4.2rem;
    letter-spacing: -0.02em;
    color: #111111;

    @media all and (max-width: 425px) {
     text-align: center; 
    }


    @media all and (max-width: 768px) {

      font-size: 2.4rem;
      line-height: 3rem;
    }

  }

  .modal-assessment__desc {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.9rem;
    text-align: center;
    letter-spacing: -0.02em;
    color: #333333;

    @media all and (max-width: 576px) {
      font-size: 1.5rem;
      line-height: 2.4rem
    }
  }
}


  .modal-assessment.fancybox-content {
    @media all and (max-width: 425px) {
    padding: 30px;
  }
}


