@import "colors";

.order-block {
  background: radial-gradient(1241.93px at 78.16% 50%, #192E3E 0%, #0E1D29 100%);
}

.order-block__container {
  position: relative;
}

.order-block__picture {
  position: absolute;
  top: 17rem;
  right: 13.7rem;
  width: 65.1rem;

  @media all and (max-width: 1440px) {
    width: 50rem;
  }
  @media all and (max-width: 1200px) {
    top: -6rem;
    left: calc(50% - 26rem);
    width: 33rem;
  }
  @media all and (max-width: 576px) {
    top: -4.5rem;
    left: calc(50% - 25.4rem);
    width: 33rem;
  }

  &::before {
    content: '';
    display: block;
    width: 45.4rem;
    height: 45.4rem;
    position: absolute;
    top: -2.9rem;
    right: -8.1rem;
    background: #294358;
    border-radius: 50%;
    z-index: 0;

    @media all and (max-width: 1440px) {
      width: 38rem;
      height: 38rem;
    }

    @media all and (max-width: 1200px) {
      right: -5rem;
      width: 25rem;
      height: 25rem;
    }
    @media all and (max-width: 576px) {
      top: -1rem;
      right: -3rem;
      width: 21.3rem;
      height: 21.2rem;
    }
  }

  .picture__img {
    width: 100%;
    position: relative;
    z-index: 1;
  }
}

.order-block__order-content {
  position: relative;
  width: 90rem;
  padding: 10.5rem 0 12.2rem 7rem;
  z-index: 3;

  @media all and (max-width: 1440px) {
    padding-left: 0;
    max-width: 83rem;
  }
  @media all and (max-width: 1200px) {
    padding: 24rem 0 6rem;
    max-width: 83rem;
    margin: 0 auto;
  }

  @media all and (max-width: 992px) {
    width: unset;
  }
  @media all and (max-width: 576px) {
    padding: 27rem 0 6rem;
  }

}

.order-content__title {
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 5rem;
  color: white;
  letter-spacing: -0.02em;

  @media all and (max-width:1200px) {
    font-size: 3.6rem;
    line-height: 4.5rem;
  }
  @media all and (max-width:768px) {
    font-size: 2.8rem;
    line-height: 4rem;
  }
  @media all and (max-width:576px) {
    font-size: 2.2rem;
    line-height: 3rem;
    text-align: center;
    padding: 0 1rem;
  }

  .speaker-name {
    border-bottom: 2px solid $text-black;
  }
}

.order-content__desc {
  margin-top: 3rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.5rem;
  letter-spacing: -0.02em;
  color: #9FB7C9;

  @media all and (max-width:768px) {
    font-size: 1.5rem;
    line-height: 2.4rem;
    text-align: center;
  }
  @media all and (max-width:576px) {
    padding: 0 1rem;
  }
}

.order-content__order-form {
  margin-top: 6rem;
  max-width: 77rem;
  color: white;

  @media all and (max-width:992px) {
    max-width: 42rem;
    margin: 6rem auto 0;
  }
  @media all and (max-width:576px) {
    padding: 0 1rem;
  }

  .order-form__label {
    margin-top: 1rem;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 5rem;
    letter-spacing: -0.03em;

    @media all and (max-width:992px) {
      display: none;
    }
  }

  .order-form__input {
    margin: 0 .3rem;
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #3F5A71;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 3rem;
    letter-spacing: -0.03em;
    color: white;

    @media all and (max-width:992px) {
      padding-bottom: .5rem;
      margin-top: 3.6rem;
      display: block;
      width: 100%;
      text-align: center;
    }

    @media all and (max-width:992px) {
      line-height: 3.6rem;
    }
    &:focus {
      outline: none;
      border-bottom: 2px solid white;
    }

    &::placeholder {
      opacity: 0;
      padding-bottom: .5rem;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 4.6rem;
      letter-spacing: -0.03em;
      color: #698396;

      @media all and (max-width: 992px) {
        opacity: 1;
      }
    }

    &.input--invalid {
      border-bottom: 2px solid $t-red;
      &::placeholder {
        color: $t-red;
      }
    }

    &.input--name {
      width: 13.5rem;
      @media all and (max-width:992px) {
        width: 100%;
      }
    }
    &.input--tel {
      width: 19rem;
      @media all and (max-width:992px) {
        width: 100%;
      }
    }
    &.input--subject {
      width: 21.8rem;
      @media all and (max-width:992px) {
        width: 100%;
      }
    }
  }

  .order-form__send-section {
    width: 82rem;
    display: flex;
    align-items: center;
    margin-top: 5.2rem;

    @media all and (max-width: 992px) {
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
  }

  .order-form__privacy-label {
    display: inline-block;

    @media all and (max-width: 992px) {
      margin-top: 2.2rem;
    }
  }

  .order-form__button {
    width: 24rem;
    margin: 0 3.1rem;
  }

  .order-form__checkbox {
    display: none;
  }
  .order-form__checkbox:checked + .order-form__privacy-label::before {
    background: #294358 url('../img/check-white.svg') center center no-repeat;
    background-size: auto;
  }

  .order-form__privacy-label {
    position: relative;
    display: block;
    padding-left: 3.9rem;
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: left;
    letter-spacing: -0.03em;

    &::before {
      content: '';
      display: inline-block;
      width: 2.2rem;
      height: 2.2rem;
      background: #294358;
      margin-right: 1.2rem;
      position: absolute;
      left: 0;
      top: 1rem;
      border-radius: .3rem;
    }
  }

  .order-form__speaker-voice {
    margin-top: 1rem;
    display: flex;
    align-items: flex-start;

    @media all and (max-width:992px) {
      margin-top: 3.6rem;
      flex-direction: column;
      align-items: center;

      .order-form__label {
        display: inline;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 4.6rem;
        letter-spacing: -0.03em;
        color: #698396;
      }
    }

    .hide-desktop {
      display: none;
      @media all and (max-width:992px) {
        display: inline;
      }
    }

  }

  .choice-voice {
    margin-left: 2.5rem;
    width: 45rem;

    @media all and (max-width:992px) {
      text-align: center;
      margin-left: 0;
    }
    @media all and (max-width:576px) {
      width: 100%;
    }
  }

  .order-form__type-voice {
    display: none;
  }
  .order-form__type-voice:checked + .order-form__type-voice-label {
    background: $t-red;
    padding-right: 4rem;
    &::after, &::before {
      display: block;
    }
  }
  .order-form__type-voice-label {
    position: relative;
    display: inline-block;
    margin-right: 1rem;
    margin-top: 1.2rem;
    padding: .5rem 1.6rem;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.7rem;
    letter-spacing: -0.03em;
    background: #294358;
    border-radius: .5rem;
    cursor: pointer;
    transition: .1s;

    @media all and (max-width: 576px) {
      font-size: 1.4rem;
      padding: .5rem 1.4rem;
    }

    &::before, &::after {
      content: '';
      display: none;
      position: absolute;
      top: calc(50% - .1rem);
      right: 1.6rem;
      width: 1.4rem;
      height: .2rem;
      background: white;
      transform: rotate(45deg);
      @media all and (max-width: 576px) {
        right: 1.4rem;
      }
    }
    &::after {
      transform: rotate(-45deg);
    }
  }

}


