@import "colors";

.portfolio-block {
  margin-top: 10.4rem;

  @media all and (max-width:992px) {
    margin-top: 4.6rem;
  }

  .portfolio-block__title, .portfolio-block__desc {
    text-align: center;
  }
}

.portfolio-block__slider {
  margin-top: 5rem;


  .slider__portfolio-item {
    width: 31.4rem;
    position: relative;
    margin: 0 .6rem;
    padding: 9.5rem 1.4rem 1.4rem;
    height: 57.8rem;
    color: white;
    text-align: center;
    border-radius: .6rem;
    overflow: hidden;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(15, 31, 43, 0.63);
    }

    .portfolio-item__button {
      position: relative;
      z-index: 2;
    }

    .portfolio-item__title {
      position: relative;
      display: block;
      margin-top: 3.8rem;
      font-weight: 600;
      font-size: 2.3rem;
      line-height: 3rem;
      text-align: center;
      letter-spacing: -0.02em;
      color: white;
      z-index: 2;
      cursor: pointer;
    }

    .portfolio-item__desc {
      font-weight: 300;
      position: relative;
      margin: 1rem auto 0;
      z-index: 2;
      max-width: 23rem;
    }

    .portfolio-item__bg-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

  .slick-prev.button--play, .slick-next.button--play {
    position: absolute;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .4);
    z-index: 2;
    top: unset;
    bottom: 3.2rem;

    @media all and (max-width: 992px) {
      width: 6rem;
      height: 6rem;
    }
  }

  .slick-next.button--play {
    right: calc(50% - 11.5rem);

    @media all and (max-width: 992px) {
      right: calc(50% - 8.5rem);
    }
  }

  .slick-prev.button--play {
    left: calc(50% - 11.5rem);

    @media all and (max-width: 992px) {
      left: calc(50% - 8.5rem);
    }

    &::before {
      left: unset;
      right: calc(50% - .5rem);
      border-left: .85rem solid transparent;
      border-right: 1.2rem solid #fff;
    }
  }

  .slick-list {
    margin-left: -7.5rem;
    margin-right: -7.5rem;

    @media all and (max-width: 1366px) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .slick-track {
    margin-left: 7.5rem;

    @media all and (max-width: 1440px) {
      margin-left: 4%;
    }

    @media all and (max-width: 1366px) {
      margin-left: 0;
    }
  }
}

