@import "colors";

.price-block {
  margin-top: 10.6rem;

  @media all and (max-width:992px) {
    margin-top: 6.6rem;
  }
}

.price-block__title, .price-block__desc {
  text-align: center;
  max-width: 68.3rem;
  margin: 0 auto;
}
.price-block__price-tabs {
  margin: 8rem auto 0;
  width: 105.5rem;
  border-radius: .6rem;
  box-shadow: 0 3rem 7rem rgba(15, 31, 44, 0.08);

  @media all and (max-width: 1115px ) {
    width: 100%;
  }
  @media all and (max-width: 767px ) {
    margin-top: 4.1rem;
    box-shadow: none;
  }
}
.price-tabs__tabs-list {
  display: flex;
  align-items: center;
  justify-content: center;

  @media all and (max-width: 767px) {
    flex-direction: column;
  }
}

.tabs-list__item {
  position: relative;
  width: 14.8rem;
  height: 14.8rem;
  padding-top: 7.6rem;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  letter-spacing: -0.02em;
  color: $text-black;
  cursor: pointer;

  @media all and (max-width: 992px) {
     font-size: 1.1rem;
     height: 12.8rem;
  }

  @media all and (max-width: 767px) {
    margin-top: .8rem;
    width: 100%;
    height: auto;
    border: 1px solid #DDE1E6;
    border-radius: .6rem;
    padding: 1.9rem 0 1.9rem 40%;
    text-align: left;
  }
  @media all and (max-width: 576px) {
    padding: 1.9rem 7rem 1.9rem 8.7rem;
  }

  &:hover {
    background: #F5F7F7;
  }

  &::before {
    content: '';
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    top: 3.4rem;
    left: calc(50% - 1.75rem);
    background-size: contain;
    transition: .2s;

    @media all and (max-width: 767px) {
      top: calc(50% - 1.75rem);
      left: 30%;
    }
    @media all and (max-width: 576px) {
      left: 3rem;
    }
  }

  &::after {
    content: '';
    display: block;
    width: 1.3rem;
    height: 1.3rem;
    position: absolute;
    bottom: -.6rem;
    left: calc(50% - .6rem);
    background: transparent;
    transform: rotate(45deg);

    @media all and (max-width: 767px) {
      content: '';
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      top: calc(50% - .2rem);
      border: .5rem solid transparent;
      border-top: .5rem solid $text-black;
      background: transparent !important;
      right: 2.9rem;
      left: unset;
      transform: none;
    }
  }


  &.item--current {
    background: $t-red;
    color: white;

    @media all and (max-width: 767px) {
      background: none;
      color: $text-black;
      border: none;
    }

     &::after {
       background: $t-red;

       @media all and (max-width: 767px) {
        border-top: .5rem solid transparent;
        border-bottom: .5rem solid $text-black;
       }
     }

  }

  &.item--one {
    &::before {
      background: url('../img/portfolio.svg') center center no-repeat;
    }
    &.item--current {
      &::before {
        background: url('../img/portfolio-white.svg') center center no-repeat;
        @media all and (max-width: 767px) {
          background: url('../img/portfolio.svg') center center no-repeat;
        }
      }
    }
  }
  &.item--two {
    &::before {
      background: url('../img/video-player.svg') center center no-repeat;
    }
    &.item--current {
      &::before {
        background: url('../img/video-player-white.svg') center center no-repeat;
        @media all and (max-width: 767px) {
          background: url('../img/video-player.svg') center center no-repeat;
        }
      }
    }
  }
  &.item--three {
    &::before {
      background: url('../img/present.svg') center center no-repeat;
    }
    &.item--current {
      &::before {
        background: url('../img/present-white.svg') center center no-repeat;
        @media all and (max-width: 767px) {
          background: url('../img/present.svg') center center no-repeat;
        }
      }
    }
  }
  &.item--four {
    &::before {
      background: url('../img/education.svg') center center no-repeat;
    }
    &.item--current {
      &::before {
        background: url('../img/education-white.svg') center center no-repeat;
        @media all and (max-width: 767px) {
          background: url('../img/education.svg') center center no-repeat;
        }
      }
    }
  }
  &.item--five {
    &::before {
      background: url('../img/radio.svg') center center no-repeat;
    }
    &.item--current {
      &::before {
        background: url('../img/radio-white.svg') center center no-repeat;
        @media all and (max-width: 767px) {
          background: url('../img/radio.svg') center center no-repeat;
        }
      }
    }
  }
  &.item--six {
    &::before {
      background: url('../img/individual.svg') center center no-repeat;
    }
    &.item--current {
      &::before {
        background: url('../img/individual-white.svg') center center no-repeat;
        @media all and (max-width: 767px) {
          background: url('../img/individual.svg') center center no-repeat;
        }
      }
    }
  }

}

.price-block__tabs-block {
  margin-top: 6.7rem;
  margin-bottom: 11.8rem;

  @media all and (max-width:992px) {
    margin-top: 5.5rem;
    margin-bottom: 8.8rem;
  }
  @media all and (max-width:768px) {
    margin-bottom: 5rem;
  }

  .tabs-block__tab {
    display: none;

    &.tab--current {
      display: block;

      @media all and (max-width: 767px) {
        display: none;
      }
    }
  }

  .tab__tab-content {
    position: relative;
    margin-left: auto;
    width: 62.8rem;
    padding-top: 4rem;

    @media all and (max-width: 1366px) {
      width: 50%;
      padding-top: 0;
    }
    @media all and (max-width: 992px) {
      width: 66rem;
      margin: 0 auto;
    }
    @media all and (max-width: 720px) {
      width: 100%;
    }



    .tab-content__img {
      border-radius: .6rem;
      position: absolute;
      top: 0;
      right: calc(100% + 7.6rem);

      @media all and (max-width: 1366px) {
        width: 80%;
        right: calc(100% + 5rem);
      }
      @media all and (max-width: 992px) {
        margin-top: 2.4rem;
        position: relative;
        width: 100%;
        height: 36rem;
        object-fit: cover;
        right: unset;
      }
    }

    .tab-content__title {
      font-weight: bold;
      font-size: 3.2rem;
      line-height: 3.9rem;
      letter-spacing: -0.03em;

      @media all and (max-width: 1366px) {
        margin-top: 0;
        font-size: 2.6rem;
        line-height: 3.2rem;
      }
      @media all and (max-width: 992px) {
        margin-top: 0;
        font-size: 2rem;
        line-height: 2.6rem;
      }
    }

    .tab-content__price {
      margin-top: 3rem;
      font-size: 2rem;
      line-height: 2.4rem;
      letter-spacing: -0.03em;
      margin-bottom: 1rem;

      @media all and (max-width: 992px) {
        margin-top: 1.8rem;
        font-size: 1.6rem;
        line-height: 2rem;
      }

      .text-select {
        font-weight: 700;
      }
    }

    .tab-content__text {
      font-weight: 500;
      max-width: 58.4rem;
      .text__p {
        margin-top: 3.1rem;

        @media all and (max-width: 1366px) {
          margin-top: 2.1rem;
        }
      }
    }

    .tab-content__button {
      margin-top: 5.7rem;
      width: 22.3rem;

      @media all and (max-width: 1366px) {
        margin-top: 3rem;
      }
      @media all and (max-width: 375px) {
       width: 100%;
      }
    }
  }
}

.tabs-list__item.mobile-item--current + li .tabs-list__content-mobile {
  display: block;
}

.tabs-list__content-mobile {
  display: none;

  .tab__tab-content {
    display: none;
    margin: 2.5rem 0 3rem;

    @media all and (max-width:767px) {
      display: block;
    }

    .tab-content__wrapper {
      margin-top: 1rem;
      padding: 1.8rem 1rem;
      border-radius: .6rem;
      box-shadow: 0 3rem 7rem rgba(15, 31, 44, 0.08);
      border: 1px solid #DDE1E6;
    }
  }

  .tab-content__img {
    margin-top: 2.4rem;
    width: 100%;
    height: 30rem;
    object-fit: cover;

    @media all and (max-width: 768px) {
      display: none;
    }

    @media all and (max-width: 576px) {
      height: 24rem;
    }
    @media all and (max-width: 576px) {
      height: 17.6rem;
    }
  }

    .tab-content__title {
      font-weight: bold;
      font-size: 2rem;
      line-height: 2.4rem;
      letter-spacing: -0.03em;
      margin-left: 2rem;

      @media all and (max-width: 576px) {
        font-size: 1.8rem;
        line-height: 2.4rem;
        letter-spacing: -0.02em;
        max-width: 20rem;

      }
    }

    .tab-content__price {
      font-size: 1.6rem;
      line-height: 2rem;
      padding-left: 1rem;

      .text-select {
        font-weight: 700;
      }
    }

    .tab-content__text {
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2.4rem;
      letter-spacing: -0.02em;
      padding: 0 1rem;
      .text__p {
        margin-top: 2.1rem;
      }
    }

    .tab-content__button {
      display: block;
      margin: 2.1rem auto 0;
      width: 25rem;
    }


  &.content-mobile--active {
    display: block;
  }
}



