@import "colors";

.speaker-block {
  padding: 6.4rem 0 8.3rem;
  background: $light-gray-bg;

  @media all and (max-width:1200px) {
    padding-bottom: 12rem;
  }
  @media all and (max-width:767px) {
    padding-top: 3.7rem;
  }
  @media all and (max-width:576px) {
    padding-bottom: 10rem;
  }
}

.speaker-block__title, .speaker-block__desc {
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
}

.speaker-block__speaker-grid {
  margin-top: 7.7rem;
  display: grid;
  grid-template: auto / repeat(3, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 3.4rem;

  @media all and (max-width: 1200px) {
     grid-column-gap: 2rem;
  }

  @media all and (max-width: 992px) {
     grid-template: auto / repeat(2, 1fr);
  }
  @media all and (max-width: 767px) {
     margin-top: 4.7rem;
     grid-row-gap: 2rem;
  }
  @media all and (max-width: 696px) {
    max-width: 42rem;
    margin: 3.3rem auto;
    grid-template: auto / 1fr;
  }
  @media all and (max-width: 576px) {
     grid-row-gap: 1.3rem;
  }
}

.speaker-grid__item {
  display: none;
  padding: 3.2rem 4rem 4rem;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 .7rem 3rem rgba(21, 40, 54, 0.08);

  @media all and (max-width: 1200px) {
    padding: 3.2rem 2.7rem 2.7rem;
  }


  &.item--visible {
    display: block;
  }

  .item__speaker-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media all and (max-width: 696px) {
      flex-direction: column;
      align-items: center;
    }

    .speaker-info__text {
      max-width: 23rem;

      @media all and (max-width: 696px) {
        margin-top: 2.4rem;
        order: 2;
        text-align: center;
      }

      .text__name {
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: -0.02em;
      }
      .text__desc {
        margin-top: 1.2rem;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2.5rem;
        letter-spacing: -0.02em;
        color: #666666;
      }
    }

    .speaker-info__photo {
      width: 8.8rem;
      height: 8.8rem;

      @media all and (max-width: 696px) {
        order: 1;
      }

      .photo__img {
        border-radius: 50%;
        width: 100%;
      }
    }
  }

  .item__demo-voice {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;

    .demo-voice__button {
      width: 3.7rem;
      height: 3.7rem;
      background: #294358;
      margin-right: 1.1rem;
      transition: .2s;

      &:hover {
        background: #37546c;
      }

      &:disabled {
        background: gray;
        opacity: .3;
      }

      &::before {
        top: calc(50% - .7rem);
        left: calc(50% - .3rem);
        border: .7rem solid transparent;
        border-left: 1rem solid #fff;
      }

      &.button--stop {
        &::before {
          top: calc(50% - .5rem);
          left: calc(50% - .5rem);
          border: none;
        }
      }

    }
    .demo-voice__name {
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1.8rem;
      letter-spacing: -0.02em;
    }
  }

  .item__price {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .price__value {
      font-weight: 700;
      font-size: 2rem;
      line-height: 2.4rem;
      letter-spacing: -0.03em;
    }

    .price__order-speaker {
      background: transparent;
      padding: .5rem;
      border: none;
      color: $t-red;
      font-weight: 700;
      font-size: 2rem;
      line-height: 2.4rem;
      letter-spacing: -0.01em;
      cursor: pointer;
    }
  }
}

.speaker-block__more-demo-voices {
  margin-top: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .more-demo-voices__button {
    margin-right: 2.5rem;
    width: 6.2rem;
    height: 6.2rem;
    background: #182C3B;
    transition: .2s;

    &:hover {
      background: #243e51;
    }

    &:disabled {
      background: #bbbfc0;
      &::before {
        opacity: .4;
      }
      &:hover {
        background: #bbbfc0;
      }
    }
  }

  .more-demo-voices__text {
    color: #182C3B;
    font-weight: 600;
    font-size: 1.9rem;
    line-height: 3rem;
    letter-spacing: -0.02em;

    &.text--disabled {
      color: #bbbfc0;;
    }
  }
}


