@import "fonts";
@import "colors";

html {
  font-size: 10px;
}

body {
  font-family: 'Montserrat', 'Sans Serif', serif;
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: $text-black;
}

.block-title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: -0.03em;
  color: $t-red;
}

.block-desc {
  margin-top: 2rem;
  font-family: 'Montserrat', 'Sans Serif', serif;
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 5rem;
  letter-spacing: -0.02em;
  color: $text-black;

  @media all and (max-width: 992px){
    margin-top: 1.5rem;
    font-size: 3.2rem;
    line-height: 4rem;
  }

  @media all and (max-width: 768px) {
    font-size: 2.2rem;
    line-height: 3rem;
  }
}


