@import "colors";

.warranty-block {
  margin-top: 10.7rem;

  @media all and (max-width:768px) {
     margin-top: 5.3rem;
  }
  @media all and (max-width:576px) {
     padding: 0 1rem;
  }
}

.warranty-block__container {
  max-width: 100rem;
  margin: 0 auto;
}

.warranty-block__title, .warranty-block__desc {
  max-width: 69.1rem;
}

.warranty-block__warranty-grid {
  margin-top: 7rem;
  display: grid;
  grid-template: auto / repeat(3, 1fr);
  grid-column-gap: 3.2rem;
  grid-row-gap: 2.2rem;

  @media all and (max-width:767px) {
    margin-top: 4rem;
    grid-template: auto / 1fr;
    grid-row-gap: 2.5rem;
  }
}

.warranty-grid__item {

  .item__icon {
    max-width: 7.2rem;
  }

  .item__title {
    margin-top: 2.5rem;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 2.7rem;
    letter-spacing: -0.03em;

    @media all and (max-width:767px) {
      margin-top: 1.5rem;
      font-size: 2rem;
      line-height:3rem;
      letter-spacing: -0.03em;
    }
  }
  .item__desc {
    margin-top: 2.5rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.5rem;
    letter-spacing: -0.02em;

    .text-select {
      font-weight: 600;
    }
  }

}

